//==========================================
//  Colors
//==========================================

// Theme colors - Primary
$white: #FFF;
$black: #000;
$coal: #111;
$pearly: #ECECEC;
$amber: #FDC959;
$pumpkin: #FD5E09;
$lilac: #B3A0CF;
$ashgray: #E0E0E0;
$snow: #F8F8F8;
$ink: #221E1F;