html{
	background: #111;
	color: #ECECEC;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Regular.woff') format('woff'),
       url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Medium.woff') format('woff'),
       url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Bold.woff') format('woff'),
       url('/fonts/ClashDisplay-Bold.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.ttf) format('truetype');       
}

body {
	margin:0;
	padding:0;
	font-family: 'Inter';
}

.clash{
	font-family: 'ClashDisplay-Regular', 'Arial', 'Impact', 'sans-serif';
}

.clash-medium{
	font-family: 'ClashDisplay-Medium', 'Arial', 'Impact', 'sans-serif';
}