---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const entries = await getCollection('legals');
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <div class="font-inter text-white bg-black-light mx-8 my-10 rounded-3xl">
    <main class="max-w-screen-2xl mx-auto min-h-screen px-4 py-8">
      <div class="max-w-screen-md mx-auto">
        <h2
          class="mt-14 text-3xl sm:text-4xl lg:text-5xl xl:text-[54px]"
        >
          {entry.data.title}
        </h2>
        <div class="mt-10 legal-content">
          <Content />
        </div>
      </div>
    </main>
  </div>
</BaseLayout>

<style is:global>
  .legal-content p {
    margin-top: 1rem;
  }
</style>
