@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

form {
  display: flex;
  flex-direction: column;
  .formInputs {
    >input {
      color: $coal;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      border: none;
      border-bottom: 2px solid $coal;
      width: 100%;
      height: 22.818px;
      flex-shrink: 0;
      padding-bottom: 16px;
      margin-bottom: 50px;
    }
  }
  .biggerButton {
    margin: 6px 0;
  }

  @include respond-to('medium') {
    .biggerButton {
      margin-right: 20px;
    }
  }

  @include respond-to('large') {
    flex-direction: row;
    .biggerButton {
      margin-right: 20px;
    }
  }

  @include respond-to('extra-large') {
    .biggerButtons {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: flex-end;
      box-sizing: border-box;
      margin-left: 92px;
      margin-bottom: 45px;
      >.biggerButton {
        margin-right: 20px;
      }
    }
  }
}